# PROFILE ID TO LOAD
REACT_APP_PROFILE_ID=9383f3b9-9d3f-468d-b5dc-d47bd4460fa2

# App Version
REACT_APP_VERSION=$APP_VERSION

# Disable remote debug
DANGEROUSLY_DISABLE_HOST_CHECK=false

# Disable watch through virtual machines
CHOKIDAR_USEPOLLING=false

# Disable source map 
GENERATE_SOURCEMAP=false

# BASE URL FOR API
REACT_APP_API_BASE_URL='/api'

# UUID for JWT Passwords
REACT_APP_JWT_USER_UUID=XXXX

# Google reCaptcha v3 key
REACT_APP_RECAPTCHA_V3_SITE_KEY=XXXX

# Google Analitics
REACT_APP_GOOGLE_ANALYTICS_SITE_KEY=UA-XXXX

# ABSOLUTE URL FOR API
REACT_APP_API_ABSOLUTE_OVERRIDE_PROTOCOL=
REACT_APP_API_ABSOLUTE_OVERRIDE_HOST=
REACT_APP_API_ABSOLUTE_OVERRIDE_PORT=
