NODE_ENV=production
APP_ENV=production

USERS_FOLDER=/usr/src/app/apps/api/users
PUBLIC_APP_URL=https://www.domain.tld
COOKIE_SECURE=true

MAILER_SENDER='"My Profile" <youremail@isp.com>'
MAILER_TEAM_ADDRESS=youremail@isp.com
