NODE_ENV=production
APP_ENV=production

USERS_FOLDER=/usr/src/app/apps/api/users
CORS_ORIGIN='[{"pattern":"^https://(.*\\.)?domain\\.tld$","flags":""}]'

MAILER_SENDER='"My Profile" <youremail@isp.com>'
MAILER_TEAM_ADDRESS=youremail@isp.com
