/* ------------------------------------------------------------------ */
/* Work Styles
/* ------------------------------------------------------------------ */
@import '../../variables.scss';

.work h3 {
  font: 25px/30px 'Open Sans', sans-serif;
  font-weight: bold;
}
.work .info, .work .description {
  font: 15px/24px 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 6px;
}
.work .info span:not(:first-child) {
  margin-left: 5px;
}
.work .info span:not(:last-child) {
  margin-right: 5px;
}
.work p.info:not(:last-child){
  margin-bottom: 10px !important;
}
.work .description {
  white-space: pre-line;
  margin-bottom: 30px;
  text-align: justify;
}
.work .description p {
  margin-bottom: 0;
}
.work .description ul {
  margin: 0;
  margin-left: 1em;
  list-style-type: disc;
  list-style-position: outside;
}
.work .description li {
  margin: 0;
  line-height: inherit;
}

.work .description strong {
  color: $alternate-color3;
  font-weight: normal;
}
.work .company {
  font: 17px/24px 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
.work .date {
  color: $alternate-color2;
}

/* mobile navigation
-------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .work h3,
  .work .info {
    text-align: center;
  }

  .work .date {
    display: block;
  }

  .work .date_separator {
    display: none;
  }
}
