/* ------------------------------------------------------------------ */
/* Error Styles
/* ------------------------------------------------------------------ */
@import '../../variables.scss';

#error {
  background: $body-background-color3;
  margin-top: -22px; // To remove margin of header
  overflow: hidden;
  padding-bottom: 72px;
  min-height: calc(100vh - 200px); // 100% - height of footer
  display: flex;
}

#error .row {
  margin: auto;
}

#error .col-text {
  display: flex;
  min-height: 27em;
  max-width: 66%;
}

#error .message {
  margin: auto;
}

#error h1 {
  font: 3em 'Libre Baskerville', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0.5em;
}
#error p {
  text-align: center;
  font-size: 1.2em;
  white-space: pre-line;
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  #error .message {
    max-width: 35em;
  }
  #error h1 {
    letter-spacing: 1px;
    margin-bottom: 0.4em;
    font-size: 2.9em;
  }
  #error p {
    font-size: 1.1em;
  }
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  #error .col-text {
    min-height: 21em;
  }
  #error .message {
    max-width: 30em;
  }
  #error h1 {
    letter-spacing: 1px;
    margin-bottom: 0.4em;
    font-size: 2em;
  }
  #error p {
    font-size: 1em;
  }
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  #error .col-text {
    max-width: none;
    padding-top: 1em;
  }
  #error .col-image {
    text-align: center;
  }
  #error .col-image img {
    max-height: 15em;
  }
  #error .col-text {
    display: block;
    min-height: auto;
  }
  #error .message {
    max-width: auto;
    margin: 0;
  }
}

/* mobile narrow
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
}
