# PROFILE ID TO LOAD
REACT_APP_PROFILE_ID=9383f3b9-9d3f-468d-b5dc-d47bd4460fa2

# App Version
REACT_APP_VERSION=$APP_VERSION

# Allow remote debug
DANGEROUSLY_DISABLE_HOST_CHECK=true

# Display eslint errors as warnings in console
ESLINT_NO_DEV_ERRORS=true

# Enable watch through virtual machines
CHOKIDAR_USEPOLLING=true

# Enable source map
GENERATE_SOURCEMAP=true

# BASE URL FOR API
REACT_APP_API_BASE_URL='/api'

# UUID for JWT Passwords
REACT_APP_JWT_USER_UUID=d002f6f8-aefb-4d37-b962-257630604180

# ABSOLUTE URL FOR API
REACT_APP_API_ABSOLUTE_OVERRIDE_PROTOCOL=http:
REACT_APP_API_ABSOLUTE_OVERRIDE_HOST=127.0.0.1
REACT_APP_API_ABSOLUTE_OVERRIDE_PORT=8080
