# PROFILE ID TO LOAD
REACT_APP_PROFILE_ID=9383f3b9-9d3f-468d-b5dc-d47bd4460fa2

# App Version
REACT_APP_VERSION=$npm_package_version

# Allow remote debug
DANGEROUSLY_DISABLE_HOST_CHECK=true

# Enable watch through virtual machines
CHOKIDAR_USEPOLLING=true

# BASE URL FOR API
REACT_APP_API_BASE_URL='/api'

# ABSOLUTE URL FOR API
REACT_APP_API_ABSOLUTE_OVERRIDE_PROTOCOL=http:
REACT_APP_API_ABSOLUTE_OVERRIDE_HOST=127.0.0.1
REACT_APP_API_ABSOLUTE_OVERRIDE_PORT=8080

# UUID for JWT Passwords
REACT_APP_JWT_USER_UUID=d002f6f8-aefb-4d37-b962-257630604180

# Google reCaptcha v2 key
REACT_APP_RECAPTCHA_SITE_KEY=6Lfh19oUAAAAAJRHCaYMiTlKP6PHbWk3m_3K2h_R

# Google Analitics
REACT_APP_GOOGLE_ANALYTICS_SITE_KEY=UA-176391252-1
