/* ------------------------------------------------------------------ */
/* Variables
/* ------------------------------------------------------------------ */

/*
TOC:
a. General
b. Contact
c. Skills
=====================================================================  */

/* ------------------------------------------------------------------
/* a. General
/* ------------------------------------------------------------------ */
$body-background-color: #0f0f0f;
$body-color: #838c95;
$loader-background-color:#052f45;
$alternate-color1: #11abb0;
$alternate-color2: #f06000;
$alternate-color3: #313131;

/* ------------------------------------------------------------------
/* b. Contact
/* ------------------------------------------------------------------ */
$body-background-color2: #191919;
$body-color2: #636363;


/* ------------------------------------------------------------------
/* c. Resume
/* ------------------------------------------------------------------ */
$body-background-color3: #fff;

/* ------------------------------------------------------------------
/* d. Skills
/* ------------------------------------------------------------------ */
$bars-background: #ccc;
$bars-color: #313131;

/* ------------------------------------------------------------------
/* g. Footer
/* ------------------------------------------------------------------ */
$footer-color: #838c95;
$footer-link-color: #525252;
$footer-link-hover: #fff;

