/* ------------------------------------------------------------------ */
/* Nav Styles
/* ------------------------------------------------------------------ */
@import '../../variables.scss';

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a ,
#nav-wrap .languages button,
#nav-wrap i {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'Open Sans', sans-serif;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;

  &.opaque {
    background-color: #333;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;

  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
  }
}


/* hide toggle button */
#nav-wrap > i.mobile-btn {
  display: none;
}

#nav-wrap .language  {
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  color: #fff;
  padding: 8px 13px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;

  &:hover {
    border-bottom: 1px solid $alternate-color2;
    padding-bottom: 0;
  }
}

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* nav-wrap */
  #nav-wrap {
    font: 11px 'opensans-bold', sans-serif;
    letter-spacing: 1.5px;
  }
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  /* mobile navigation
  -------------------------------------------------------------------- */
  #nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    background: transparent !important;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }
  #nav-wrap > i {
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #cc5200;
    position: relative;
    border: none;
    float: right;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    position: relative;
    top: 0px;
    right: 30px;
  }

  #nav-wrap > i:before,
  #nav-wrap > i:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  #nav-wrap > i:after {
    top: 60%;
  }

  /* toggle buttons */
  #nav-wrap:not(.opened) > i:first-of-type,
  #nav-wrap.opened > i:last-of-type {
    display: block;
  }

  /* hide menu panel */
  #nav-wrap ul#nav {
    height: auto;
    display: none;
    clear: both;
    width: auto;
    float: right;

    position: relative;
    top: 12px;
    right: 0;
  }

  /* display menu panels */
  #nav-wrap.opened > ul#nav {
    display: block;
    padding: 30px 20px 48px 20px;
    background: #1f2024;
    margin: 0 30px;
    clear: both;
  }

  #nav-wrap .language {
    padding: 0;

    & .flag-icon {
      margin-right: 1em;
    }
  }
}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  /* mobile navigation
    -------------------------------------------------------------------- */
  #nav-wrap ul#nav {
    width: auto;
    float: none;
  }
}
