/* ------------------------------------------------------------------ */
/* VCard Button
/* ------------------------------------------------------------------ */

@import '../../variables.scss';

.vcard {
  padding-right: 5px;
  padding-top: 5px;
  cursor: pointer;
}
