/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */
@import '../../variables.scss';

header {
  position: relative;
  min-height: 70px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
